:root {
    --color-white: rgba(255, 255, 255, 1);
    --primary-text-color: rgba(33, 33, 33, 1);
    --descr-color: rgba(117, 117, 117, 1);
    --secondary-color: rgba(33, 150, 243, 1);
    --primary-bgd-color: rgba(255, 255, 255, 1);
    --logo-header-color: rgba(0, 0, 0, 1);
    --bgd-hero-color: rgba(47, 48, 58, 0.4);
    --bgd-footer-color: rgba(47, 48, 58, 1);
    --focus-btn-color: rgba(24, 140, 232, 1);
    --shadow-btn-color: rgba(0, 0, 0, 0.15);
    --bgd-team-color: rgba(245, 244, 250, 1);
    --activity-label-color: rgba(47, 48, 58, 0.8);
    --net-list-color: rgba(175, 177, 184, 1);
    --net-list-bgd-color: rgba(255, 255, 255, 0.1);
    --contacts-footer-color: rgba(255, 255, 255, 0.6);
    --header-border-color: rgba(236, 236, 236, 1);
    --application-form-color: rgba(33, 33, 33, 0.2);
    --portfolio-gap: 30px;
    --transform-effect: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.03em;

    background-color: var(--primary-bgd-color);
    color: var(--primary-text-color);
}

.container {
    width: 1200px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 94px 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

img {
    display: block;

    width: 100%;
    height: auto;
}

.upper {
    text-transform: uppercase;
}

.is-hidden {
    opacity: 0;

    pointer-events: none;
    visibility: hidden;
}

/* Логотип */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;

    color: var(--secondary-color);
}

/* Навігація основної сторінки */
.header { 
    padding: 24px 0 25px 0;

    border-bottom: 1px solid var(--header-border-color);
}

.header-container {
    display: flex;
    align-items: center;

    height: 100%;
}

.logo--black-accent {
    color: var(--logo-header-color);
}

.header__main-nav {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 93px;
}

.site-nav {
    display: flex;
}

.site-nav__item:not(:last-child) {
    margin-right: 50px;
}

.site-nav__link {
    padding: 32px 0;

    transition: color 250ms var(--transform-effect);
}

.site-contacts {
    display: flex;

    margin-left: auto;
}

.site-contacts__item + .site-contacts__item {
    margin-left: 30px;
}

.site-nav__link,
.site-contacts__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: currentColor;
}

.site-contacts__link {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--descr-color);

    transition: color 250ms var(--transform-effect);
}

.site-contacts__icon {
    margin-right: 10px;

    fill: currentColor;
}


.site-nav__link--active {
    position: relative;

    color: var(--secondary-color);
}

.site-nav__link--active::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background-color: currentColor;
    border-radius: 2px;
}

.site-nav__link:hover,
.site-contacts__link:hover,
.site-nav__link:focus,
.site-contacts__link:focus {
    color: var(--secondary-color);
}

/* Герой */
.hero {
    text-align: center;
    letter-spacing: 0.06em;

    max-width: 1600px;

    padding: 200px 0;
    margin-right: auto;
    margin-left: auto;

    color: var(--primary-bgd-color);
    background-image: linear-gradient(var(--bgd-hero-color), var(--bgd-hero-color)), url(../images/hero-bgd.jpg);
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;

    width: 696px;

    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    font-size: 16px;
    line-height: 1.88;
    font-weight: 700;
    font-family: inherit;
    font-style: inherit;
    letter-spacing: inherit;

    padding: 10px 32px;
   
    border: none;
    border-radius: 4px;
    color: inherit;
    background-color: var(--secondary-color);
    box-shadow: 0px 4px 4px var(--shadow-btn-color);
   
    cursor: pointer;
    
    transition: background-color 250ms var(--transform-effect);
}

.button:hover {
    background-color: var(--focus-btn-color);
}

/* Основна частина 
Advantages */
.advantages-list {
    display: flex;
}

.advantages-list__item {
    width: 270px;
}

.advantages-list__item:not(:last-child) {
    margin-right: 30px;
}

.advantages-list__container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 120px;

    margin-bottom: 30px;

    background-color: var(--bgd-team-color);
    border-radius: 4px;
}

.advantages-list__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.advantages-list__descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--descr-color);
}

/* activity */
.section-activity {
    padding-top: 0;
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;

    margin-bottom: 50px;
}

.activity-list {
    display: flex;
}

.activity-list__item:not(:last-child) {
    margin-right: 30px;
}

.activity-list__thumb {
    position: relative;
}

.activity-list__label {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 70px;

    background-color: var(--activity-label-color)
}

.activity-list__text {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--color-white);
}

/*team*/
.team {
    background-color: var(--bgd-team-color);
}

.team-list {
    display: flex;
}

.team-list__item:not(:last-child) {
    margin-right: 30px;
}

.team-list__item {
    width: 270px;

    padding-bottom: 30px;

    background-color: var(--primary-bgd-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__photo {
    margin-bottom: 30px;
}

.team-list__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 10px;
}

.team-list__position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 16px;

    color: var(--descr-color);
}

.net-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 206px;
    height: 44px;

    margin-right: auto;
    margin-left: auto;
}

.net-list__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
   
    color: var(--net-list-color);
    border-radius: 50%;

    transition: background-color 250ms var(--transform-effect),
    color 250ms var(--transform-effect);
}

.net-list__icon {
    fill: currentColor;
}

.net-list__link:hover,
.net-list__link:focus {
    color: #fff;
    background-color: var(--secondary-color);
}

/* clients */
.clients-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;

    border: 1px solid var(--net-list-color);
    border-radius: 4px;
    color: var(--net-list-color);
    
    transition: border 250ms var(--transform-effect),
    color 250ms var(--transform-effect);
}

.clients-list__icon {
    fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

/* footer */
.footer {
    padding: 60px 0;

    background-color: var(--bgd-footer-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__logo {
    display: inline-block;

    margin-bottom: 20px;
}

.logo--white-accent {
    color: var(--primary-bgd-color);
}

.contacts-list__item:not(:last-child) {
    margin-bottom: 9px;
}

.contacts-list__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: var(--contacts-footer-color);
    
    transition: color 250ms var(--transform-effect);
}

.contacts-list__link--white {
    color: var(--primary-bgd-color);
}

.contacts-list__link:hover,
.contacts-list__link:focus {
    color: var(--secondary-color);
}

.footer__socials {
    margin-left: 70px;
}

.footer-text {
    font-size: 14px;
    line-height: 1.14;

    margin-bottom: 20px;

    color: var(--color-white);
}

.net-list__link--bgd {
    color: var(--color-white);
    background-color: var(--net-list-bgd-color);
}

.footer__subscribe-form {
    margin-left: auto;
}

.footer__flex-block {
    display: flex;
    align-items: center;
}

.footer__input {
    width: 358px;
    height: 50px;

    padding-left: 16px;

 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    
    color: var(--color-white);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bgd-hero-color);
    outline: none;
    
    transition: border-color 250ms var(--transform-effect);
}

.footer__input:focus {
    border-color: var(--secondary-color);
}

.submit-btn {
    display: flex;
    align-items: center;

    letter-spacing: 0.06em;
    
    padding: 10px 28px;

    color: var(--color-white);
}

.submit-btn--right {
    margin-left: 12px;
}

.submit-btn__icon {
    fill: currentColor;
}

.submit-btn__icon--end {
    margin-left: 10px;
}

.submit-btn:hover {
    background-color: var(--focus-btn-color);
 }

/* Page Portfolio*/
.filters-list {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.filters-list__item:not(:last-child) {
    margin-right: 8px;
}

.filters-list__button {

    font-weight: 500;
    line-height: 1.62;

    padding: 6px 22px;

    color: inherit;
    background-color: var(--bgd-team-color);
    box-shadow: none;

    transition: 
    background-color 250ms var(--transform-effect), 
    color 250ms var(--transform-effect), 
    box-shadow 250ms var(--transform-effect);
}

.filters-list__button:hover,
.filters-list__button:focus {
    background-color: var(--secondary-color);
    color: var(--primary-bgd-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.examples-list {
    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--portfolio-gap));
    margin-top: calc(-1 * var(--portfolio-gap));
}

.examples-list__item {
    flex-basis: calc((100% / 3 - var(--portfolio-gap)));
    margin-left: var(--portfolio-gap);
    margin-top: var(--portfolio-gap);

    transition: box-shadow 250ms var(--transform-effect);
}

.examples-list__thumb {
    position: relative;
    overflow: hidden;    
}

.examples-list__overlay {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
   
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: rgba(33, 150, 243, 0.9);
    transition: transform 250ms var(--transform-effect);
}

.examples-list__overlay-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    color: var(--color-white);
}

.examples-list__item:hover .examples-list__overlay {
    transform: translateY(0);
}

.examples-list__content {
    width: 100%;
    padding: 20px 24px;

    border-right: 1px solid rgba(238, 238, 238, 1);
    border-left: 1px solid rgba(238, 238, 238, 1);
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.examples-list__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;

    color: var(--primary-text-color);
}

.examples-list__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;

    color: var(--descr-color);
}

.examples-list__item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Модальне вікно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    opacity: 1;
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms var(--transform-effect), 
    visibility 250ms var(--transform-effect); 
}

.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
    
    box-shadow: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 

    padding: 40px;

    width: 528px;
    height: 581px;

    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition: transform 250ms var(--transform-effect),
    box-shadow 250ms var(--transform-effect); 
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    color: var(--logo-header-color);

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: color 250ms var(--transform-effect);
}

.close-btn__icon {
    fill: currentColor;
}

.close-btn:hover,
.close-btn:focus  {
    color: var(--secondary-color);
}

.application-form__title {
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
}

.application-form__field:nth-of-type(1),
.application-form__field:nth-of-type(2),
.application-form__field:nth-of-type(3) {
    margin-bottom: 10px;
}

.application-form__field:nth-of-type(4) {
    margin-bottom: 20px;
}

.application-form__field:nth-of-type(5) {
    margin-bottom: 30px;
}

.application-form__label {
    display: block;
    
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--descr-color);
}

.application-form__label:not(:last-child) {
    margin-bottom: 4px;
}

.application-form__input {
    width: 100%;
    height: 40px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    padding-left: 42px;

    border: 1px solid var(--application-form-color);
    border-radius: 4px;
    outline: none;

    transition: border-color 250ms var(--transform-effect);
}

.application-form__container {
    position: relative;
    color: var(--primary-text-color);
}

.application-form__input:focus {
    border-color: var(--secondary-color);
}

.application-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: currentColor;

    transition: color 250ms var(--transform-effect);
}

.application-form__input:focus + .application-form__icon {
    color: var(--secondary-color);
}

.application-form__textarea {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    width: 100%;
    height: 120px;

    padding: 12px 16px;

    border: 1px solid var(--application-form-color);
    border-radius: 4px;
    outline: none;

    resize: none;

    transition: border-color 250ms var(--transform-effect);
}

.application-form__textarea:focus {
    border-color: var(--secondary-color);
}

.form-checkbox {
    position: relative;  
}

.application-form__checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.application-form__policy-icon {
    position: absolute;
    top: 50%;
    left: 14px;
    transform: translateY(-50%);

    background-color: var(--color-white);
    border: 1px solid var(--primary-text-color);
    border-radius: 3px;
    fill: var(--color-white);

    transition: background-color 250ms var(--transform-effect),
    border-width 250ms var(--transform-effect);
    
    pointer-events: none;
}

.application-form__checkbox:checked + .application-form__policy-icon {
    background-color: var(--secondary-color);
    border-width: 0;
}

.application-form__label--bigger {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    padding-left: 37px;
}

.application-form__link {
    color: var(--secondary-color);
    text-decoration: underline;
}

.application-form__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 0.06em;

    padding: 10px 52px;

    color: var(--color-white);
}
   
.application-form__button:hover,
.application-form__button:focus {
    background-color: var(--focus-btn-color);
}