body {
    
}

.container {
    width: 1440px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 94px;
    
}


.btn {
    position: relative;
    overflow: hidden;


    display: flex;
    align-items: center;
 
    margin-left: 50px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    letter-spacing: 0.03em;

    padding: 12px 50px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: palevioletred;
    color: black;
    cursor: pointer;
    transition: background-color 250ms ease-out;
}

.btn::before {
    position: absolute;
    content: '';
    display: inline-block;

    top: 50%;
    right: 50px;

    width: 16px;
    height: 16px;
    background-color: blue;

    transform: translateY(calc(-50% + 30px));
    transition: transform 250ms linear;
}

.btn::after {
    content: '';
    display: inline-block;

    margin-left: 10px;

    width: 16px;
    height: 16px;
    background-color: green;
    transition: transform 250ms linear;
}



.btn:hover {
    background-color: blueviolet;
}


.btn:hover::before {
transform: translateY(-50%);
}

.btn:hover::after {
    transform: translateY(-30px);
}
