.activity-list {
    display: flex;
}

.activity-list__item:not(:last-child) {
    margin-right: 30px;
}

.activity-list__thumb {
    position: relative;
}

.activity-list__label {
    position: absolute;
    bottom: 0;


   @include centeredFlex($justify: center);

    width: 100%;
    height: 70px;

    background-color: $activity-label-color;
}

.activity-list__text {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    color: $color-white;
}