.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    @include centeredFlex($justify: center);

    width: 30px;
    height: 30px;

    color: $logo-header-color;

    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    transition: color 250ms $transform-effect;

    &:hover,
    &:focus {
        color: $secondary-color;
    }
}

.close-btn__icon {
    fill: currentColor;
}
