.contacts-list {
  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $contacts-footer-color;

    transition: color 250ms $transform-effect;

    &--white {
      color: $primary-bgd-color;
    }

    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }
}
