.contacts-list__item:not(:last-child) {
    margin-bottom: 8px;
}

.contacts-list__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    color: $contacts-footer-color;

    transition: color 250ms $transform-effect;

    &:hover,
    &:focus {
        color: $secondary-color;
    }
}

.contacts-list__link--white {
    color: $primary-bgd-color;
}