.filters-list {
    @include centeredFlex($justify: center);

    margin-bottom: 50px;
}

.filters-list__item:not(:last-child) {
    margin-right: 8px;
}

.filters-list__button {

    font-weight: 500;
    line-height: 1.62;

    padding: 6px 22px;

    color: inherit;
    background-color: var(--bgd-team-color);
    box-shadow: none;

    transition:
    background-color 250ms var(--transform-effect),
    color 250ms var(--transform-effect),
    box-shadow 250ms var(--transform-effect);

    &:hover,
    &:focus {
        background-color: var(--secondary-color);
        color: var(--primary-bgd-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}
