.header {
    padding: 24px 0 25px 0;

    border-bottom: 1px solid $header-border-color;
}

.header-container {
    @include centeredFlex();

    height: 100%;
}

.header__main-nav {
    @include centeredFlex();
}

.header__logo {
    margin-right: 93px;
}

