.logo {
    font-family: $logo-font;
    font-size: 26px;
    line-height: 1.19;

    color: $secondary-color;
}

.logo--black-accent {
    color: $logo-header-color;
}

.logo--white-accent {
    color: $primary-bgd-color;
}