.logo {
  font-family: $logo-font;
  font-size: 26px;
  line-height: 1.19;

  color: $secondary-color;

  &--black-accent {
    color: $logo-header-color;
  }

  &--white-accent {
    color: $primary-bgd-color;
  }
}
