.logo {
    font-family: var(--logo-font);
    font-size: 26px;
    line-height: 1.19;

    color: var(--secondary-color);
}

.logo--black-accent {
    color: var(--logo-header-color);
}

.logo--white-accent {
    color: var(--primary-bgd-color);
}