.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 0 48px 40px;
    background-color: $color-white;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms $transform-effect;
    
}

.menu-container.is-open {
    transform: translateX(0);
}