.site-contacts {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.site-contacts__item + .site-contacts__item {
  margin-top: 10px;

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.site-contacts__link {
  @include centeredFlex();

  color: $descr-color;

  transition: color 250ms $transform-effect;
}

.site-contacts__icon {
  margin-right: 10px;

  fill: currentColor;
}
