.site-contacts {
    display: flex;

    margin-left: auto;
}

.site-contacts__item+.site-contacts__item {
    margin-left: 30px;
}

.site-contacts__link {
    @include centeredFlex($justify: center);

    color: $descr-color;

    transition: color 250ms $transform-effect;
}

.site-contacts__icon {
    margin-right: 10px;

    fill: currentColor;
}
