.submit-btn {
  @include centeredFlex();

  letter-spacing: 0.06em;

  margin-right: auto;
  margin-left: auto;

  padding: 10px 28px;

  color: $color-white;

  &--right {
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }

  &__icon {
    fill: currentColor;

    &--end {
      margin-left: 10px;
    }
  }

  &:hover {
    background-color: $focus-btn-color;
  }
}
