    $color-white: rgba(255, 255, 255, 1);
    $primary-text-color: rgba(33, 33, 33, 1);
    $descr-color: rgba(117, 117, 117, 1);
    $secondary-color: rgba(33, 150, 243, 1);
    $primary-bgd-color: rgba(255, 255, 255, 1);
    $logo-header-color: rgba(0, 0, 0, 1);
    $bgd-hero-color: rgba(47, 48, 58, 0.4);
    $bgd-footer-color: rgba(47, 48, 58, 1);
    $focus-btn-color: rgba(24, 140, 232, 1);
    $shadow-btn-color: rgba(0, 0, 0, 0.15);
    $bgd-team-color: rgba(245, 244, 250, 1);
    $activity-label-color: rgba(47, 48, 58, 0.8);
    $net-list-color: rgba(175, 177, 184, 1);
    $net-list-bgd-color: rgba(255, 255, 255, 0.1);
    $contacts-footer-color: rgba(255, 255, 255, 0.6);
    $header-border-color: rgba(236, 236, 236, 1);
    $application-form-color: rgba(33, 33, 33, 0.2);
    $portfolio-gap: 30px;
    $transform-effect: cubic-bezier(0.4, 0, 0.2, 1);
    $text-font: 'Roboto', sans-serif;
    $logo-font: 'Raleway', sans-serif;
